<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="@ViewBag.Keywords">
	<meta name="description" content="@ViewBag.Desc">
	<title>@ViewBag.Title</title>
	<script src="//code.jquery.com/jquery-latest.min.js"></script>
	<script src="//unslider.com/unslider.js"></script>
	<style>
		
	</style>
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="top-logo-row-wrapper">
					<div class="top-logo-row">
						<div class="logo-wrapper">
							<a href="@ViewBag.Url" class="site-logo-link">
								<img src="@ViewBag.Url/content/img/simgenlogo.png" alt="杭州新景生物有限公司,LOGO" class="site-logo"/>
							</a>
						</div>
					</div>
			</div>
			<div class="header-upper-tabs">
				<nav id="nav" class="doc-set-nav">
					  <ul class="doc-set-nav-tab-list clearfix">
					    <li class="doc-set-nav-tab-container"><a href="" class="doc-set-nav-tab">首页</a></li>
					    <li class="doc-set-nav-tab-container"><a href="" class="doc-set-nav-tab">产品</a></li>
					    <li class="doc-set-nav-tab-container"><a href="" class="doc-set-nav-tab">技术文档</a></li>
					    <li class="doc-set-nav-tab-container"><a href="" class="doc-set-nav-tab">促销信息</a></li>
						<li class="doc-set-nav-tab-container"><a href="" class="doc-set-nav-tab">说明书下载</a></li>
						<li class="doc-set-nav-tab-container"><a href="" class="doc-set-nav-tab">销售网络</a></li>
					  </ul>
					  <a class="header-button-wrapper free-trail-wrapper"><button class="free-trail-button header-button">TRY IT FREE</button></a>
					  <a class="header-button-wrapper contacy-sales-wrapper"><button class="contact-sales-button header-button">CONTACT SALES</button></a>
				</nav>
			</div>
		</header>

	</div>
	@RenderBody()
</body>
</html>