@*<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>*@
@{ 
ViewBag.Title = "杭州新景生物科技有限公司-核酸纯化专家-simgen";
}

<section id="carousel-wrapper">
    <div class="carousel-list-wrapper">
        <ul id="carousel-list" class="clearfix">
            <li class="carousel-li on slide-1">
                <h2>核酸纯化领域技术领先者1</h2>
                <p>世界上提取速度最快的全血DNA提取方法发明者使用simgen产品配套你的PCR诊断产品现在就用simgen产品构展你的科研实验Google写法</p>
                <a id="learnMore" href="">了解更多</a>
                <a id="useFree" href="">免费试用</a>
            </li>
            <li class="carousel-li slide-2">
                <h2>核酸纯化领域技术领先者2</h2>
                <p>世界上提取速度最快的全血DNA提取方法发明者使用simgen产品配套你的PCR诊断产品现在就用simgen产品构展你的科研实验Google写法</p>
                <a id="learnMore" href="">2了解更多</a>
                <a id="useFree" href="">2免费试用</a>
            </li>
            <li class="carousel-li slide-3">
                <h2>核酸纯化领域技术领先者3</h2>
                <p>世界上提取速度最快的全血DNA提取方法发明者使用simgen产品配套你的PCR诊断产品现在就用simgen产品构展你的科研实验Google写法</p>
                <a id="learnMore" href="">3了解更多</a>
                <a id="useFree" href="">3免费试用</a>
            </li>
            <li class="carousel-li ">
                <h2>核酸纯化领域技术领先者4</h2>
                <p>世界上提取速度最快的全血DNA提取方法发明者使用simgen产品配套你的PCR诊断产品现在就用simgen产品构展你的科研实验Google写法</p>
                <a id="learnMore" href="">4了解更多</a>
                <a id="useFree" href="">4免费试用</a>
            </li>
        </ul>
    </div>
    <div class="tab">
        <ul id="carousel-btn">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>


<section id="character-wrapper">
    <div class="character-list-wrapper">
        <ul class="clearfix">
            <li>
                <img src="@ViewBag.Url/content/img/fake.png" alt="客户">
                <h3>客 户</h3>
                <p>Qiangen医疗研究所<br>Takara、迪安诊断 等更多</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/fake.png" alt="价格">
                <h3>价 格</h3>
                <p>行业内最具竞争力的价格<br>最优秀的品质</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/fake.png" alt="样本">
                <h3>样 本</h3>
                <p>行业内最具竞争力的价格<br>最优秀的品质</p>
            </li>
            <li style="margin-right:0;">
                <img src="@ViewBag.Url/content/img/fake.png" alt="定制">
                <h3>定 制</h3>
                <p>ODM定制、优秀PCR产品<br>配套试剂</p>
            </li>
        </ul>
    </div>
</section>