@*<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>*@
@{ 
ViewBag.Title = "杭州新景生物科技有限公司-核酸纯化专家-simgen";
}

<section id="carousel-wrapper">
    <div class="carousel-list-wrapper">
        <ul id="carousel-list" class="clearfix">
            <li class="carousel-li on slide-1">
                <h2>核酸纯化领域技术领先者1</h2>
                <p>世界上提取速度最快的全血DNA提取方法<br />发明者使用simgen产品配套你的PCR诊断产品<br />现在就用simgen产品构展你的科研实验</p>
                <div>
                    <a id="learnMore" href="">了解更多</a>
                    <a id="useFree" href="">免费试用</a>
                </div>
            </li>
            <li class="carousel-li slide-2">
                <h2>核酸纯化领域技术领先者2</h2>
                <p>世界上提取速度最快的全血DNA提取方法<br />发明者使用simgen产品配套你的PCR诊断产品<br />现在就用simgen产品构展你的科研实验</p>
                <a id="learnMore" href="">2了解更多</a>
                <a id="useFree" href="">2免费试用</a>
            </li>
            <li class="carousel-li slide-3">
                <h2>核酸纯化领域技术领先者3</h2>
                <p>世界上提取速度最快的全血DNA提取方法<br />发明者使用simgen产品配套你的PCR诊断产品<br />现在就用simgen产品构展你的科研实验</p>
                <a id="learnMore" href="">3了解更多</a>
                <a id="useFree" href="">3免费试用</a>
            </li>
            <li class="carousel-li slide-4">
                <h2>核酸纯化领域技术领先者4</h2>
                <p>世界上提取速度最快的全血DNA提取方法<br />发明者使用simgen产品配套你的PCR诊断产品<br />现在就用simgen产品构展你的科研实验</p>
                <a id="learnMore" href="">4了解更多</a>
                <a id="useFree" href="">4免费试用</a>
            </li>
        </ul>
    </div>
    <div class="tab">
        <ul id="carousel-btn">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>

@*<section class="notice-wrapper">
    <div class="noticeBox clearfix">
        <span class="notice-tit">最新公告</span>
        <ul class="notice-list clearfix">
            <li class="notice-item"><a href="" target="_blank" class="notice-item-a"><span>[7.28]</span> 给商家伙伴们的一封信  &nbsp;&nbsp;</a><span class="new">new</span></li>
            <li class="notice-item"><a href="" target="_blank" class="notice-item-a"><span>[7.27]</span> 关于调整用户花呗分期12期手续费率的公告  &nbsp;&nbsp;</a><span class="new">new</span></li>
            <li class="notice-item"><a href="" target="_blank" class="notice-item-a"><span>[7.23]</span> 关于COD商户专业版下线的公告  &nbsp;&nbsp;</a><span class="new">new</span></li>
            <li class="notice-item"><a href="" target="_blank" class="notice-item-a"><span>[7.23]</span> 关于COD商户专业版下线的公告  &nbsp;&nbsp;</a><span class="new">new</span></li>
            <li class="notice-item-more"><a href="" target="_blank" class="notice-item-amore">更多公告 &gt;&gt;</a></li>
        </ul>
    </div>
</section>*@
<section class="notice-wrapper">
        <div class="noticeBox clearfix">
            <span class="notice-tit">最新公告</span>
            <ul class="notice-list clearfix">
                <li class="notice-item"><a href="" target="_blank" class="notice-item-a"><span>[7.28]</span> 给商家伙伴们的一封信  &nbsp;&nbsp;</a><span class="new">new</span></li>
                <li class="notice-item"><a href="" target="_blank" class="notice-item-a"><span>[7.27]</span> 关于调整用户花呗分期12期手续费率的公告  &nbsp;&nbsp;</a><span class="new">new</span></li>
                <li class="notice-item"><a href="" target="_blank" class="notice-item-a"><span>[7.23]</span> 关于COD商户专业版下线的公告  &nbsp;&nbsp;</a><span class="new">new</span></li>
                <li class="notice-item"><a href="" target="_blank" class="notice-item-a"><span>[7.23]</span> 关于COD商户专业版下线的公告  &nbsp;&nbsp;</a><span class="new">new</span></li>
                <li class="notice-item-more"><a href="" target="_blank" class="notice-item-amore">更多公告 &gt;&gt;</a></li>
            </ul>
        </div>
</section>


@*<section id="character-wrapper">
    <div class="character-list-wrapper clearfix">
        <ul class="clearfix">
            <li>
                <img src="@ViewBag.Url/content/img/fake.png" alt="客户">
                <h3>客 户</h3>
                <p>Qiangen医疗研究所<br>Takara、迪安诊断 等更多</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/fake.png" alt="价格">
                <h3>价 格</h3>
                <p>行业内最具竞争力的价格<br>最优秀的品质</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/fake.png" alt="样本">
                <h3>样 本</h3>
                <p>行业内最具竞争力的价格<br>最优秀的品质</p>
            </li>
            <li class="charaLast">
                <img src="@ViewBag.Url/content/img/fake.png" alt="定制">
                <h3>定 制</h3>
                <p>ODM定制、优秀PCR产品<br>配套试剂</p>
            </li>
        </ul>
    </div>
</section>*@

<section class="advantage-wrapper">
    <div class="advantageBox">
        <h1 class="adv-tit">为什么选择simgen？</h1>
        <ul class="adv-list">
            <li class="adv-item">
                <img src="@ViewBag.Url/content/img/fake.png" alt="快速"/>
                <h6>简单快速，性能卓越</h6>
                <p>创新专利技术，简化传统操作流程，性能卓越，给你带来科研新体验。（所有产品与Qiagen对比性能）</p>
            </li>
            <li class="adv-item">
                <img src="@ViewBag.Url/content/img/fake.png" alt="支持"/>
                <h6>复杂样本的支持</h6>
                <p>支持医疗临床、动植物等样本及复杂样本提取</p>
            </li>
            <li class="adv-item">
                <img src="@ViewBag.Url/content/img/fake.png" alt="方案"/>
                <h6>完美定制方案</h6>
                <p>支持ODM定制、PCR产品配套试剂开发定制</p>
            </li>
            <li class="adv-item">
                <img src="@ViewBag.Url/content/img/fake.png" alt="价格"/>
                <h6>最具竞争力的价格</h6>
                <p>出众的产品性能，行业内最具竞争力的价格</p>
            </li>
        </ul>
    </div>
</section>

<section class="sample-wrapper">
    <div class="sampleBox">
        <h1 class="sample-tit">样本选择</h1>
        <p class="sample-ftit">Simgen的核酸纯化产品支持任何需要提取核酸的样本</p>
        <ul class="sample-list1">
            <li>
                <img src="@ViewBag.Url/content/img/sample1.png" alt="sample1"/>
                <p> AGRICULTURE & FOOD</br>SCIENCE</p>
           </li>
            <li>
                <img src="@ViewBag.Url/content/img/sample2.png" alt="sample2" />
                <p>ANTIBODY DISCOVERY/IMMUNOLOGY</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/sample3.png" alt="sample3" />
                <p>BIOMARKERS</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/sample4.png" alt="sample4" />
                <p>CANCER<br />RESEARCH</p>
            </li>
        </ul>
        <ul class="sample-list2">
            <li>
                <img src="@ViewBag.Url/content/img/sample5.png" alt="sample5" />
                <p>INFECTIOUS<br />DISEASES</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/sample6.png" alt="sample6" />
                <p>SYNTHETIC BIOLOGY</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/sample1.png" alt="sample7" />
                <p> AGRICULTURE & FOOD</br>SCIENCE</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/sample2.png" alt="sample8" />
                <p>ANTIBODY DISCOVERY/IMMUNOLOGY</p>
            </li>
        </ul>
    </div>
</section>

<section class="client-wrapper">
    <div class="clientBox">
        <h1 class="client-tit">我们的客户</h1>
        <p class="client-ftit">超过20000+的用户使用simgen的产品</p>
        <ul class="client-list1">
            <li>
                <img src="@ViewBag.Url/content/img/sample1.png" alt="client1" />
                <p>Qiagen</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/sample1.png" alt="client2" />
                <p>Tarkara</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/sample1.png" alt="client3" />
                <p>浙江大学</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/sample1.png" alt="client4" />
                <p>旷远生物</p>
            </li>
        </ul>
        <ul class="client-list2">
            <li>
                <img src="@ViewBag.Url/content/img/sample1.png" alt="client5" />
                <p>苏州人民医院</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/sample1.png" alt="client6" />
                <p>浙江大学各附属医院</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/sample1.png" alt="client7" />
                <p>迪安诊断</p>
            </li>
            <li>
                <img src="@ViewBag.Url/content/img/sample1.png" alt="client8" />
                <p>广州医科大学</p>
            </li>
        </ul>
    </div>
</section>

<footer>
    <div class="footerBox">
        <ul class="product">
            <li class="product-tit"><a href="#">产品</a></li>
            <li class="product-item"><a href="#">临床医疗样本</a></li>
            <li class="product-item"><a href="#">制药原料样本</a></li>
            <li class="product-item"><a href="#">精准医疗</a></li>
        </ul>
        <ul class="info">
            <li class="info-tit"><a href="#">了解详情</a></li>
            <li class="info-item"><a href="#">为什么选择Simgen</a></li>
            <li class="info-item"><a href="#">定价</a></li>
            <li class="info-item"><a href="#">说明书</a></li>
            <li class="info-item"><a href="#">技术文档</a></li>
            <li class="info-item"><a href="#">客户</a></li>
            <li class="info-item"><a href="#">支持</a></li>
            <li class="info-item"><a href="#">招贤纳士</a></li>
        </ul>
        <ul class="contact">
            <li class="contact-tit"><a href="#">联系我们</a></li>
            <li class="contact-item"><a href="#">技术支持：0571-837373</a></li>
            <li class="contact-item"><a href="#">微信公众号：simgen</a></li>
            <li class="contact-item"><a href="#">微博：simgen.com</a></li>
            <li class="contact-item"><a href="#">邮箱：technical@simgen.cn</a></li>
        </ul>
    </div>
</footer>
<script>
    $("#nav ul li").removeClass("doc-set-nav-tab-border");
    $("#nav-home").addClass("doc-set-nav-tab-border");
</script>


